/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: 'IBM Plex Mono', sans-serif;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --decor-color: #000028;
  --accent-color: #ff0070;
  --additional-color: #ff0070;
  --hover-color: rgb(255 0 112 / 0.4);
  --main-padding: 10px 10px 0 10px;
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --header-margin-xs: 54px;
  --header-margin-s: 56px;
  --header-margin-m: 64px;
  --header-margin-l: 67px;
  --section-margin-xs: 40px;
  --section-margin-s: 50px;
  --title-margin-s: 20px;
  --footer-gap: 10px;
  --footer-padding: 279px 3px 275px 4px;
  --footer-margin-xs: 10px;
  --section-gap: 20px;
}
